body {
    background-color: #384758;
    font-family: 'Verdana';
    align-items: center;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

#contenedor {
    background-color: #343434;
}

#logo {
    width: 80px;
    height: 50px;
    margin-top: -15px;
}

#login {
    padding: 15px;
    text-align: center;
    list-style-type: none;
}

/* animación fadein para el contenido de la página*/
.fadein {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.filtro {
    margin-left: -5%;
    margin-bottom: 10px;
    padding: 2%;
    padding-left: 7%;
    padding-bottom: -5%;
    width: 110%;

    background-color: #343434;
    border-radius: 200px;
}

.filtro * {
    float: left;
    margin-left: 5px;
}

.elemento {
    margin-top: 10%;
    width: 50px;
}

.separador-vertical {
    border-left: 2px solid rgb(113, 113, 113);
    height: 60px;
    margin-left: 3%;
    margin-right: 3%;
}

.arma {
    width: 60px;
    height: 60px;
}

.contenido {
    text-align: center;
}

.icono-personaje {
    margin-top: 10px;
    margin-bottom: 2%;
}

.foto-personaje {
    border-radius: 100%;
    border: 3px solid #343434;
    transition: 0.2s;

    z-index: 0;
}

.foto-personaje:hover{
    transform: scale(1.2);
    box-shadow: 0 5px 10px 2px rgb(55, 54, 54);
    border: 3px solid #262626;
}

.nombre-personaje {
    color: rgb(246, 246, 246);
    font-size: medium;

    margin-top: 5%;
    text-align: center;
}

button {
    background-color: transparent;
    color: transparent;
    border: none;
}

#boton-reset {
    color: white;
    margin-top: 1%;
    margin-left: 3%;
    border: 1px solid white;
    border-radius: 20px;
    font-size: x-large;
    padding: 0.5%;
}